cccppp/src/cccppp
cccppp/src/cccppp-tool
cccppp/src/cccppp.cmi
cccppp/src/cccppp.cmx
cccppp/src/cccppp.o
cccppp/src/dump
cccppp/src/dump.o
cccppp/src/main.ii
cccppp/src/main.o
cccppp/test/hello-index/hello-index
cccppp/test/hello-index/hello-index.ii
cccppp/test/hello-index/hello-index.o
cccppp/test/hello-index/hello-index.s
cccppp/test/hello/hello
cccppp/test/hello/hello.ast
cccppp/test/hello/hello.ii
cccppp/test/hello/hello.o
cccppp/test/hello/hello.s
cccppp/test/hello/notes-20190403.txt
cccppp/test/simple-call/
cccppp/test/simple/simple.ii
cccppp/test/simple/simple.o
cccppp/test/simple/simple.s
cccppp/test/verysimple/
wrapper/lib/compiler_args.cmi
wrapper/lib/compiler_args.cmx
wrapper/lib/compiler_args.o
wrapper/lib/mkstemp_stubs.o
wrapper/src/compiler_args.cmi
wrapper/src/compiler_args.cmx
wrapper/src/compiler_args.o
wrapper/src/mkstemp_stubs.o
cilpp/src/cilpp
cilpp/src/cilpp.cmi
cilpp/src/cilpp.cmx
cilpp/src/cilpp.o
config.mk
*.swp
*.d
wrapper/example/constructor-priority-checker/dumpconstr
wrapper/example/constructor-priority-checker/dumpconstr.cmi
wrapper/example/constructor-priority-checker/dumpconstr.cmx
cilpp/test/hello/hello
cilpp/test/hello/hello.i
cilpp/test/hello/hello.o
cilpp/test/hello/hello.s
cccppp/contrib/
cccppp/test/hello/err.log
# the following are srk-private i.e. best not to commit these
makefile
static-structure.txt
wrapper/test/gnu-hello/
wrapper/test/*.tar.gz
wrapper/test/tar/
cccppp/include/workarounds.hpp
cccppp/src/INTERNALS.md
cccppp/src/TODO-shreesh
cccppp/src/interstitial
cccppp/src/interstitial-tool
cccppp/src/interstitial.o
cccppp/src/simple
cccppp/src/simple-tool
cccppp/src/simple.o
cccppp/src/~TODO-shreesh
cccppp/test/Presentation/
cccppp/test/hello-index/makefile
cccppp/test/notsimple/

